/*! 2011-09-22T16:48 UTC - http://github.com/necolas/le-boilerplate */

/* ============================================================================ HTML5 DISPLAY DEFINITIONS */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}


/* ============================================================================ BASE */

/*
 * 1. Prevent text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Keep page centred in all browsers regardless of content height
 * 3. Remove iOS text size adjust without disabling user zoom
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * N.B. Add a max-width to body/container as a fallback in desktop environments with
 * no Media Query support or polyfill
 */

body {
    margin: 0;
    font-size: 1em; /* 16px */
    line-height: 1.4;
    background: #fff;
}

/*
 * Set the default font-family and color
 * Make sure it is also applied to form elements
 */

body,
button,
input,
select,
textarea {
    font-family: arial, sans-serif;
    color: #222;
}

/*
 * Remove selection highlight text-shadow to ensure readability is not compromised
 * Set selection highlight background to match OSX default
 */

::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

::selection {
    text-shadow: none;
    background: #b3d4fc;
}


/* ============================================================================ LINKS */

a,
a:visited {
    text-decoration: underline;
    color: #06c;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/*
 * Accessible focus and mouse interaction outline states
 */

a:focus {
    outline: thin dotted;
}


a:hover,
a:active {
    outline: 0;
}


/* ============================================================================ TYPOGRAPHY */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

blockquote,
p,
ul,
ol,
dl {
    margin: 1.4em 0;
}

/* ............................................................................ Lists */

ul,
ol {
    padding: 0 0 0 40px;
}

li,
dt,
dd {
    padding: 0;
    margin: 0.35em 0;
}

dd {
    margin-left: 40px;
}

nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ............................................................................ Inline */

abbr[title] {
    border-bottom: 1px dotted;
}

address {
    font-style: normal;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin-left: 40px;
    margin-right: 40px;
}

dfn {
    font-style: italic;
}
 
ins {
    text-decoration: none;
    color: #000;
    background: #ff9;
}

mark {
    font-weight: bold;
    color: #000;
    background: #ff0;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Redeclare monospace font family to allow proper font size control
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'Courier New', serif;
    font-size: 1em;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
}

small {
    font-size: 75%;
}

/*
 * Prevent sub and sup affecting line-height in all browsers
 */

sup,
sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* ============================================================================ EMBEDDED CONTENT */

/*
 * 1. Remove border when inside 'a' element in IE6/7/8/9
 * 2. Improve image quality when scaled in IE7
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* ============================================================================ FIGURES */

figure {
    margin: 0;
}


/* ============================================================================ FORMS */

form {
    margin: 0;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

legend {
    border: 0;
    *margin-left: -7px;
}

/*
 * 1. Remove extra inner space from submission elements in IE6/7
 * 2. Make font-size equal to ancestor's
 * 3. Have all browsers use the same line-height.
 * 4. Standardise vertical-align
 */

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%; /* 1 */
    line-height: normal; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle;
}

/*
 * 1. Display hand cursor for submission elements
 * 2. Fix inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 */

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: auto; /* 3 */
}

/*
 * Fix box sizing set to content-box in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/*
 * 1. Fix inability to fully style search inputs in WebKit browsers
 * 2. Fix box sizing set to border-box in S5, Chrome
 * 3. Set outline offset to match other textfields
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
    outline-offset: -2px; /* 3 */
}

/*
 * Remove inner padding in S5, Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Remove extra inner padding and border in FF3/4
 */

input::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*
 * 1. Disable default horizontal scrollbar for 'textarea' element in IE6/7/8/9
 * 2. Align 'textarea' with top when inline
 * 3. Allow only vertical resizing
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: vertical /* 3 */
}


/* ============================================================================ TABLES */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ============================================================================ HELPER CLASSES */

/* ............................................................................ Clearfix */

.cf {
    *zoom: 1;
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

/* ............................................................................ Hidden */

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* ............................................................................ Visually hidden */

.vishidden {
    position: absolute !important;
    left: -9999em;
}


/* ============================================================================ COMPONENTS */

/* ............................................................................ Multimedia object */

/*
 * Adapted from:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * facebook.com
 */

.mmobj {

}

/*
 * Primary graphical component (e.g. img, svg, sprite)
 */

.mmobj .gfx {
    float: left;
    margin: 0 10px 0 0;
}

/*
 * Optional graphical component
 */

.mmobj .gfx-opt {
    float: right;
    margin: 0 0 0 10px;
}

/*
 * Remove excess space below images in .gfx block
 */

.mmobj .gfx img,
.mmobj .gfx-opt img {
    display: block;
    max-width: none;
} 

/*
 * Content block
 * 1. Create new block formatting context in modern browsers
 * 2. Avoid shrink-wrap behaviour of table-cell
 * 3. Override for IE6/7
 * 4. Create new block formatting context in IE6/7
 *
 * N.B. This breaks down in some browsers when images within .cont exceed its 
 * width. The alternative is to use 'overflow:hidden' to create the NBFC but 
 * this is problematic if the object contains elements absolutely positioned 
 * beyond the confines of its box.
 */

.mmobj .cont {
    display:table-cell; /* 1 */
    width:10000px; /* 2 */
    *width:auto; /* 3 */
    *zoom:1; /* 4 */
}





/* ========================================================================================================== SCREEN (480+) */

@media screen and (min-width: 480px) {

/*
 * Screen-only style adjustmenets for viewport widths 480px to 768px
 */


/* end MQ 480+ */ }





/* ========================================================================================================== SCREEN (768+) */

@media screen and (min-width: 768px) {

/*
 * Screen-only style adjustments for viewport widths 768px and over
 */


/* end MQ 768+ */ }





/* ========================================================================================================== PRINT */

@media print {

/*
 * Print-only style adjustements inlined to avoid required HTTP connection
 */

* {
    text-shadow: none !important;
    background: transparent !important;
    color: black !important;
    filter: none !important;
}

a,
a:visited {
    color: #444 !important;
    text-decoration: underline;
}

a[href]:after {
    content: ' (' attr(href) ')';
}

a[href^="#"]:after {
    content: '';
}

img,
video {
    max-width:100% !important;
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

h2,
h3 {
    page-break-after: avoid;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

@page {
    margin: 0.5cm;
}

/* end MQ print */ }
