/* -----------------------------------------------

LE BOILERPLATE

Author: Nicolas Gallagher / http://nicolasgallagher.com
URL:    http://github.com/necolas/le-boilerplate

--------------------------------------------------

ALL MEDIA
  1. HTML5 DISPLAY
  2. BASE
  3. COMPONENTS

SCREEN 481+

SCREEN 781+

PRINT

*/





/* ============================================================================================================================ **
**                                                      A L L   M E D I A
** ============================================================================================================================ */

/*
 * Styles affecting all viewport widths and print (keep linear and fluid)
 */


/* ============================================================================================================= 1. HTML5 ELEMENT DISPLAY */

/*
 * Add display for block-level HTML5 elements
 * Display not properly defined in IE6/7/8/9 & FF3
 */

header, 
section, 
article, 
aside, 
footer,
nav, 
menu, 
hgroup, 
figure, 
figcaption, 
details, 
summary {
    display: block;
}

/*
 * Add display for embedded HTML5 elements
 * Display not properly defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}




/* ============================================================================================================= 2. BASE */

/*
 * 1. Add vertical scrollbar to <html> element
 *      Keeps page centred in all browsers regardless of content height
 * 2. Remove iOS tap highlight color to prevent entire container's being highlighted
 *      www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 3. Remove iOS text size adjust without disabling user zoom
 *      www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    overflow-y: scroll; /* 1 */
    -webkit-tap-highlight-color: transparent; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%;
}

/*
 * Set the base font-size for the document without prevent text resizing in IE6/7
 * N.B. Remember to add a max-width to <body> or container elements as a fallback in certain desktop environments
 */

body {
    margin: 0;
    font-size: 0.875em; /* 14px */
    line-height: 1.4;
    background: #fff;
}

/*
 * Set the default font-family and color
 * Make sure it is also applied to form elements
 */

body, 
input, 
button, 
textarea, 
select { 
    font-family: sans-serif;
    color: #333; 
}

/*
 * 1. Prevent border in IE6/7 when <img> is within <a>
 * 2. Allow high quality bicubic image resampling for <img> element
 *    Improves readability when scaled in IE
 *    - (Read before using) http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    /* -ms-interpolation-mode: bicubic; */ /* 2 */
}

/*
 * Selection highlight
 * 1. Remove text-shadow to ensure readability is not compromised
 *    - http://camendesign.com/design/
 */

::-moz-selection { 
    text-shadow: none; /* 1 */
    color: #fff; 
    background: #ff5e99;
}

::selection { 
    text-shadow: none; /* 1 */
    color: #fff; 
    background: #ff5e99;
}

/* ............................................................................................................. Links */

a, 
a:visited { 
    text-decoration: underline; 
    color: #06c;
}

a:hover, 
a:focus, 
a:active { 
    text-decoration: none;
}

/*
 * Remove outline on <a> element when active or hovered
 * Improves readability when focused and then also mouse activated
 * - http://people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover, 
a:active { 
    outline: 0;
}

/* ............................................................................................................. Headings + paragraphs */

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p { 
    margin: 1.4em 0;
}

/* ............................................................................................................. Lists */

ul, 
ol,
dl { 
    padding: 0 0 0 40px;
    margin: 1.4em 0;
}

li,
dt,
dd {
    padding: 0;
    margin: 0.7em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Remove margin and bullets from lists in <nav> elements
 */

nav ul,
nav li { 
    list-style: none;
    padding: 0;
    margin: 0; 
}

/* ............................................................................................................. General typography */

/*
 * Add a visual indication that an abbreviation's expansion is available
 * Styling not present in IE6/7/8/9, S4/5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Remove default italic font-size from <address>
 */

address { 
    font-style: normal; 
}

/*
 * Add bold font weight to <b> and <strong> elements
 * Fixes style set to 'bolder' in FF3/4, S4/5, Chrome
 */

b, 
strong { 
    font-weight: bold; 
}


/*
 * Consistent blockquote indentation
 */

blockquote {
    margin: 1.4em 0 1.4em 30px;
}

/*
 * Add italic font style to <dfn> element
 * Styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Remove underline from <ins> so it is not confused with links
 */
 
ins { 
    text-decoration: none; 
    color: #000;
    background-color: #ff9;
}

/*
 * Add yellow background and black text to <mark> element
 * Styling not present in IE6/7/8/9
 */

mark { 
    font-weight: bold; 
    color: #000; 
    background-color: #ff0;
}

/*
 * Allow line wrapping for <pre> element
 * Improves readability of pre-formatted text
 */

pre { 
    white-space: pre; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

/*
 * Redeclare monospace font family and include a san-serif fallback
 * Fix so that these elements can then be given normal font size
 * - http://en.wikipedia.org/wiki/User:Davidgothberg/Test59
 * 1. Fixes monospace font family set oddly in IE6
 */

pre, 
code, 
kbd, 
samp { 
    font-family: monospace, monospace; 
    _font-family: 'Courier New', monospace, monospace; /* 1 */
    font-size: 1em;
}

/*
 * Remove quotes from <q> element
 * 1. CSS quotes not supported in IE6/7
 * 2. Quote attributes not supported in S4
 */

/* 1 */
q {
    quotes: none;
}

/* 2 */
q:before,
q:after {
    content: "";
}

/*
 * Define font-size and alignment for <small> element
 */

small { 
    font-size: 75%;
}

/*
 * Position subscript and superscript content without affecting line-height
 * Fixes alignment within multi-line text displayed oddly in all browsers
 * - http://gist.github.com/413930
 */

sup, 
sub { 
    position: relative; 
    font-size: 75%; 
    line-height: 0; 
    vertical-align: baseline; 
}

sup { 
    top: -0.5em; 
}

sub { 
    bottom: -0.25em; 
}

/* ............................................................................................................. Form elements */

form {
    margin: 0;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

/*
 * Correct left alignment of <legend> element in IE6/7
 */

legend {
    *margin-left: -7px;
}

/*
 * Normalise form elements
 * 1. Remove extra inner space from <input> and <button> in IE6/7
 *    - http://jehiah.cz/a/button-width-in-ie
 * 2. Remove margins from form elements
 *     All elements have a 2px margin in Chrome10 & Safari5.
 *     All <textarea> have 1px vertical margins in Firefox.
 * 3. Make font-size equal to body default
 * 4. Have all browsers use the same line-height. 
 *     Firefox doesn't allow control of line-height for <input> and <button>.
 *     Corrects button line-height in IE6.
 * 5. Standardised vertical-align
 *     IE defaults to 'auto'. Firefox defaults to 'text-bottom' for <textarea>
 */

input,
button,
select,
textarea {
    overflow: visible;  /* 1 */
    margin: 0; /* 2 */
    font-size: 100%; /* 3 */
    line-height: normal; /* 4 */
    vertical-align: baseline; /* 5 */
}

/*
 * 1. Display hand cursor for submission elements
 *      Improves usability and consistency of cursor style between image-type <input> and others
 * 2. Define consistent appearance for clickable form elements
 *      Fixes inability to style clickable <input> types in iOS
 */

input[type="button"], 
input[type="submit"], 
button {
    cursor: pointer;
    -webkit-appearance: button;
}

/*
 * Remove extra inner padding and border in FF3/4
 * - http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

input::-moz-focus-inner,
button::-moz-focus-inner { 
    padding: 0;
    border: 0;  
}

/*
 * 1. Disable default horizontal scrollbar for <textarea> element
 *     Scrollbar displayed by default in IE6/7/8/9
 * 2. Align <textarea> with top when inline
 *     Improves usability and corrects baseline inconsistency in Firefox 3/4
 */

textarea { 
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/*
 * Define box sizing for checkbox and radio <input> types
 * Addresses box sizing set to content-box in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
}

/*
 * Define box sizing and appearance for search <input> type
 * Address box sizing set to border-box in S5 Chrome (include -moz to future-proof)
 * Address appearance set to searchfield in S5 Chrome
 */

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* ............................................................................................................. Table elements */

/* 
 * Remove most spacing between table cells
 * Consistent vertical and horizontal alignment
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
}

th,
td {
    padding: 0;
    text-align: left;
    vertical-align: middle;
}

/* ............................................................................................................. Clearfix */

/*
 * Clear an element's floated children using generated content
 * Inclusion of :before consistently prevents margin collapse in modern browsers
 * Improves visual consistency between modern browsers and IE6/7
 * - http://nicolasgallagher.com/micro-clearfix-hack/
 */

.cf { 
    *zoom: 1;
}

.cf:before, 
.cf:after { 
    content: ""; 
    display: table; 
}

.cf:after { 
    clear: both; 
}




/* ============================================================================================================= 3. COMPONENTS */






/* ============================================================================================================================ **
**                                                       S C R E E N (481+)
** ============================================================================================================================ */

@media only screen and (min-width: 481px) {

/*
 * Screen-only style adjustmenets for viewport widths 481px to 780px
 */


/* end @media 481+ */ }





/* ============================================================================================================================ **
**                                                       S C R E E N (768+)
** ============================================================================================================================ */

@media only screen and (min-width: 768px) {

/*
 * Screen-only style adjustments for viewport widths 768px and over
 */


/* end @media 768+ */ }





/* ============================================================================================================================ **
**                                                       P R I N T
** ============================================================================================================================ */

@media print {

/*
 * Print-only style adjustements inlined to avoid required HTTP connection
 * - http://www.phpied.com/delay-loading-your-print-css/
 */

* { 
    text-shadow: none !important; 
    background: transparent !important; 
    color: black !important; 
    filter: none !important; 
} 

a, 
a:visited { 
    color: #444 !important; 
    text-decoration: underline; 
}

a[href]:after { 
    content: " (" attr(href) ")"; 
}

a[href^="#"]:after { 
    content: ""; 
}

img {
    max-width:100% !important;
}

pre, 
blockquote { 
    border: 1px solid #999; 
    page-break-inside: avoid; 
}

thead { 
    display: table-header-group; 
}

tr, 
img { 
    page-break-inside: avoid; 
}

h2, 
h3 { 
    page-break-after: avoid;
}

p, 
h2, 
h3 { 
    orphans: 3; 
    widows: 3;
 }

@page { 
    margin: 0.5cm;
}

/* end @media print */ }